@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 1.3rem;
  min-width: 400px;
  margin: 0;
  padding: 0;
}

.todo-container {
  background-color: whitesmoke;
  .main-heading {
    font-family: "Permanent Marker", cursive;
    margin-bottom: 0.5em;
  }
  .sub-heading {
    font-size: 1em;
    margin: 0 0 25px 0;
  }
}

.todo-container {
  margin: 50px auto;
  padding: 30px 0px;
  width: 85%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid lightgrey;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.31);
}

.add-todo {
  display: flex;
  padding: 20px;
  background-color: purple;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.31);
  margin: 0;

  input[type="text"] {
    padding: 0.1em 0.5em;
    font-size: 1em;
    flex: 1 1 90%;
  }
  input[type="submit"] {
    border: none;
    font-size: 1.5em;
    flex: 1 1 10%;
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .todo-item {
    margin: 20px 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  .checked::before {
    content: "\1F63B";
    height: 10px;
    width: 10px;
    font-size: 1.5em;
    color: green;
  }
  .not-checked::before {
    content: "\1F63E";
    height: 10px;
    width: 10px;
    font-size: 1.5em;
    color: red;
  }
  .checked label {
    opacity: 0.4;
    text-decoration: line-through;
  }
  .todo-item label {
    margin-left: 15px;
    text-transform: uppercase;
  }
  .todo-item label:hover {
    font-weight: 700;
  }
  .todo-item label:active {
    font-weight: 400;
  }
  .remove-todo {
    color: red;
    font-weight: 900;
    display: inline-block;
    margin-left: 0.5em;
    opacity: 0;
  }
  .remove-todo:hover {
    opacity: 1;
  }
}

.todo-list::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: lightgray;
  margin: 1em 0 0.5em 0;
}

.stats {
  display: flex;
  justify-content: space-around;
}
